.context-button {
    display: inline;
    width: 10px;
    height: 25px;
    background-image: radial-gradient(circle, black 3px, transparent 2px);
    background-size: 100% 33.33%;
    float:right;
    margin-right: 10px;
}

.context-menu {
    display: flexbox;
    flex-direction: column;
    width: fit-content;
    background-color: darkgrey;
    position: relative;
    box-shadow: 10px;
    z-index: 10;
    visibility: hidden;
}